.dashboardrow h3{
    font-size: 18px;
    font-weight: 500;
}

.dashboardrow p{
    font-size: 30px;
}

.dashboardcard{
    border-radius: 5px;
    margin: 0px 5px !important;
    padding: 15px;
    background-color: #164187;
    color: #fff;
}

/* Margen para el elemento "Show entries" */
.dataTables_length {
    margin-bottom: 18px !important;
}

/* Margen para el elemento "Search" */
.dataTables_filter {
    margin-bottom: 18px !important;
}
.card-header{
    padding-top: 10px !important;
    background-color: #222222 !important;
    color: #ffffff !important;
}
.dataTable{
    border-top: 1px solid #c7c7c7 !important;
}

label{
    margin-left: 10px;
}