.navbar{
  height: 85px;
  z-index: 999999 !important;
  transition: 0.4s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: .5px solid #ffffff1d;
  backdrop-filter: blur(5px);
    background-color: #0d405da4;
  }
  
  .navbar.scrolled {
    height: 75px;
    background-color: #0d405de3;
    backdrop-filter: blur(5px);
  }

  .navbar-brand img{
    width: 150px;
  }

  .loginbtn{
    text-decoration: none;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .loginbtn:hover, .loginbtn a:hover{
    color: #000000;
  }

  .navimg img{
    width: 100%;
  }

.userrow{
  margin-top: 50px !important;
}

.nav-link{
  color: #ffffff;
}

.navbarbg{
  background-color: #0d405d;
}

  @media screen and (max-width: 1000px){

    .offcanvas{
      width: 70vw !important;
    }

    .offcanvas-body a{
      color: #222222 !important;
    }

    .nav-link{
      border-bottom: 1px solid #f3f3f3;
    }

    .loginbtn{
      margin-top: 20px;
      background-color: #ececec;
    }

  }